{% extends "base.njk" %}

{% block titulo %}Limpiezas | Listado{% endblock %}

{% block contenido %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/habitaciones">Inicio</a></li>
            <li class="breadcrumb-item">
                <a href="/habitaciones/{{ habitacion.id }}">Habitación {{ habitacion.numero }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Limpiezas</li>
        </ol>
    </nav>

    <h1>Limpiezas de la habitación {{ habitacion.numero }} 
        {% if session and session.usuario %}
        <a href="/limpiezas/nueva/{{ habitacion.id }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Añadir limpieza">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        {% endif %}
    </h1>

    <ul class="list-group">
        {% for limpieza in limpiezas %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ limpieza.fecha | date("DD/MM/YYYY") }}</div>
                    {{ limpieza.observaciones }}

                    {% if limpieza.observaciones|length == 0 %}
                        Sin observaciones
                    {% endif %}
                </div>
            </li>
        {% endfor %}

        {% if limpiezas|length == 0 %}
            Sin limpiezas
        {% endif %}
    </ul>

{% endblock %}